<!--
  _
 | |
 | | _____  _   _ _   _   ___ _ __   __ _  ___ ___ 
 | |/ / _ \| | | | | | | / __| '_ \ / _` |/ __/ _ \
 |   < (_) | |_| | |_| |_\__ \ |_) | (_| | (_|  __/
 |_|\_\___/ \__, |\__,_(_)___/ .__/ \__,_|\___\___|
             __/ |           | |
            |___/            |_|     © {{year}}. All rights reserved.

-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>koyu.space Matrix - Error</title>
        <style>
            input,
            label {
                width: 250px;
                display: table-cell;
            }
            form {
                display: table;
            }
            body {
                font-family: serif;
                background: #fff;
                color: #000;
                display: block;
                width: 35%;
                margin: 0 auto;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Error on registration</h1>
        <p>E-mail or password might be wrong. Please <a href="/">return back to the registration form</a> and try again.</p>
    </body>
</html>