<!--
  _
 | |
 | | _____  _   _ _   _   ___ _ __   __ _  ___ ___ 
 | |/ / _ \| | | | | | | / __| '_ \ / _` |/ __/ _ \
 |   < (_) | |_| | |_| |_\__ \ |_) | (_| | (_|  __/
 |_|\_\___/ \__, |\__,_(_)___/ .__/ \__,_|\___\___|
             __/ |           | |
            |___/            |_|     © {{year}}. All rights reserved.

-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>koyu.space Matrix - Success</title>
        <style>
            input,
            label {
                width: 250px;
                display: table-cell;
            }
            form {
                display: table;
            }
            body {
                font-family: serif;
                background: #fff;
                color: #000;
                display: block;
                width: 35%;
                margin: 0 auto;
                text-align: center;
            }
            small {
                margin-top: 30px;
                display: block;
            }
        </style>
    </head>
    <body>
        <h1>Registration successful!</h1>
        <p>You have been successfully registered on our Matrix server. Please log in with the server name https://matrix.koyu.space and your koyu.space username (not e-mail) and password with any available Matrix client. We recommend <a href="https://riot.im" target="_blank">Riot</a> as Matrix client.</p>
    </body>
</html>